body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://cdn.discordapp.com/attachments/774664750050181140/1174305189679861801/background.jpg?ex=65671bee&is=6554a6ee&hm=c5aa980ecad9c4e2bace7300f547b3721adb4df520e8412686ab4a8ee0058ceb&');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
}

.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(5px);
    z-index: -1;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 600px;
    margin: -70px auto;
    background-color: rgba(93, 171, 146, 0.8);
    padding: 20px;
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

h1 {
    color: #fff;
}

p {
    color: #eee;
    line-height: 1.6;
}

header {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 20px;
    margin-top: 20px;

}

#logo {
    width: 256px;
    height: 256px;
    display: block;
    margin: 0 auto;
}
